.hero .container {
  background-color: #e9f4ff;
  width: 76%;
  /* height: 58vh; */
  margin: 18vh auto 20vh;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 3.5em;
  gap: 1em;
}
.text h1 {
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 3.3rem;
  /* letter-spacing: 5px; */
}
.text h1 span {
  color: var(--primary-color);
}
.heroImg {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.heroImg img {
  width: 90%;
  /* height: calc(100% + 7vh); */
  margin-top: -10%;
}

.brandSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 1em; */
}

.brandSection h2 {
  font-weight: 600;
}
.slidesContainer {
  /* background-color: aqua; */
  width: 76% !important;
}
.slide {
  border: 1px solid #d0d7e0;
  border-radius: 8px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}
.slide img {
  height: 32px;
}
.productsSection {
  background-color: #e9f4ff;
  background-image: url("/bg1.svg");
  background-repeat: no-repeat;
  padding: 4em;
}
.productsSection h2 {
  font-weight: 600;
  text-align: center;
  font-size: 1.45rem;
}
.productsSection p {
  text-align: center;
}
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  width: 87%;
  margin: auto;
  margin-top: 2.5em;
}
.product {
  flex-basis: calc(50% - 2em);
  width: auto !important;
  box-shadow: none !important;
  border-radius: 15px !important;
  padding: 2.5em 2em !important;
  margin: 0 !important;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: background-color 0.25s ease;
}
.product:nth-child(1) {
  background-color: #edffec !important;
}
.product:nth-child(2) {
  background-color: #fff1ca !important;
}
.product:nth-child(3) {
  background-color: #ffeee7 !important;
}
.product:nth-child(4) {
  background-color: #ffeee7 !important;
}
.product h3 {
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 600;
}
.product p {
  font-size: 0.95rem;
  text-align: left;
}
.product img {
  height: 125px;
  filter: grayscale(100%);
  transition: all 0.2s ease;
}
.product:hover img {
  filter: grayscale(0);
}

.product:hover {
  background-color: white !important;
}

.info {
  background: rgb(20, 92, 197);
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
  padding: 12%;
  height: 130vh;
}

.info .content {
  background-color: var(--primary-color);
  display: flex;
  position: relative;
  border-radius: 4px;
  clip-path: polygon(0px 30%, 100% 0%, 100% 70%, 0px 100%);
  width: 100%;
  height: 100%;
}
.content img {
  height: 100%;
  width: 50%;
  mix-blend-mode: luminosity;
}
.content .text {
  flex-basis: 100%;
  color: rgba(255, 255, 255, 0.889);
  font-size: 1.2rem;
  padding: 4vw;
  min-width: 0px;
  margin-left: -10vw;
  z-index: 99;
}
.slideItem {
  font-size: 1.75rem;
  font-weight: 600;
}
.bar {
  height: 6px;
  position: relative;
  background-color: white;
  transition: width 0.4s ease-in-out;
}
.barContainer {
  content: "";
  height: 6px;
  width: 55%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #00000052;
}

.whyUs {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 4em;
  align-items: center;
}
.whyUsHero {
  background: url("/bg2.webp");
  background-repeat: no-repeat;
  background-position: 15px 70px;
  background-size: 70%;
  margin-top: 5.5em;
  height: calc(100% - 5.5em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.whyUsHero p {
  white-space: nowrap;
}
.whyUsHero h3 {
  font-size: 1.3rem;
  font-weight: 600;
}
.whyUsHero h3 span {
  color: var(--primary-color);
}
.whyUsHero img {
  margin-top: 3em;
}
.whyUsCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  width: 87%;
  margin: auto;
  margin-left: 2em;
}
.whyUsCard {
  flex-basis: calc(50% - 2em);
  border-radius: 15px;
  padding: 2.5em 2em;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}
.whyUsCard img {
  height: 75px;
}

@media only screen and (max-width: 1440px) {
  .info {
    height: 120vh;
  }
}
@media only screen and (max-width: 1280px) {
  .info {
    height: 100vh;
  }
}
@media only screen and (max-width: 1080px) {
  .heroImg {
    width: 55%;
  }
  .text {
    width: 45%;
  }
  .heroImg img {
    margin-top: -45%;
  }
  .product {
    flex-basis: 100%;
  }
  .info {
    height: 80vh;
    padding: 5%;
  }
}
@media only screen and (max-width: 850px) {
  .heroImg {
    display: none;
  }
  .text {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 1.5em;
  }
  .slidesContainer {
    width: 95% !important;
    margin: auto 0;
  }
  .productsSection {
    padding: 4em 2%;
  }
  .content img {
    display: none;
  }
  .content .text {
    margin: 0;
  }
  .whyUs {
    width: 100%;
    margin: 0;
    margin-top: 4em;
    justify-content: center;
    align-items: center;
  }
  .whyUsCardContainer {
    width: auto;
    margin: 0;
    justify-content: center;
  }
  .whyUsHero {
    display: none;
  }
  .whyUsCard {
    flex-basis: calc(33% - 2em);
    min-width: 200px;
  }
}
@media only screen and (max-width: 450px) {
  .hero .container {
    width: 90%;
    margin: 10vh auto;
  }
  .productsSection {
    padding: 4em 0.2em;
  }
  .products {
    width: 100%;
    margin: 0;
  }
  .info {
    height: 50vh;
  }
  .content {
    align-items: center;
    justify-content: center;
  }
  .content .text {
    height: 60%;
  }
  .slideItem {
    font-size: 0.85rem;
  }
  .whyUsCard {
    flex-basis: 100%;
    min-width: 200px;
    align-items: center;
  }
}
